const path = require('path');
const HtmlWebpackPlugin = require('html-webpack-plugin')
module.exports = {
    entry:  {
        main: path.resolve(__dirname, 'index.js'),
    },
    output: {
        path: path.resolve(__dirname, './dist'),
        filename: 'index.bundle.js',
    },
    mode: 'production',
    plugins: [  new HtmlWebpackPlugin(
                {
                  template: './src/html/index.pug',
                  filename: 'index.html'
                }
                ),
                new ESLintPlugin({
                  fix: true
                }),
            ], 
        }